<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan-主页</title>
    <link rel="stylesheet" href="../css/personalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
     <header>
        <div class="logo-box">
            
        </div>
     </header>
     <div class="content float-clear">
        <aside class="float-left">

        </aside>
        <div class="main float-left">

        </div>
     </div>
</body>
</html>