<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>Titan-登录</title>
    <link rel="stylesheet" href="../css/personalize.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
<!-- {#    <link rel="stylesheet" href="{% static 'templates/titan_main/css/personalize.css' %}">#} -->
<!-- {#    <link rel="stylesheet" href="{% static 'templates/titan_main/css/login.css' %}">#} -->
<!-- {#    <link rel="shortcut icon" href="{% static 'templates/titan_main/img/favicon.ico' %}" type="image/x-icon">#} -->
</head>
<body>
<div class="head">
    <div class="head-body">
        <div class="logo-img">
            <a href="#">
            </a>
        </div>
       
    </div>
</div>
<div class="content-box">
    <div class="slogan"></div>
    <div class="menu">
                <a href="{% url 'titan_main:eve_auth' %}" class="Targe login-Targe-root">
                    <span class="Targe Targe-targe1">
                        <span class="Targe Targe-targe2">
                            <div class="text-box">
                                <p class="eve-icon">
                                   LOGIN with EVE Online
                                </p>
                            </div>
                        </span>
                    </span>
                </a>
        </div>
    </div>
</body>
</html>
