<!--{% load static %}-->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan-LP商城</title>
    <link rel="stylesheet" href="../css/personalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/lpshop.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
<!--    <link rel="stylesheet" href="{% static 'templates/titan_main/css/personalize.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'templates/titan_main/css/index.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'templates/titan_main/css/lpshop.css' %}">-->
<!--    <link rel="shortcut icon" href="{% static 'templates/titan_main/img/favicon.ico' %}" type="image/x-icon">-->
</head>
<body>
    <header>
        <div class="logo-box">
            <div class="logo-btn-box">
                <button type="button" class="logo-btn">

                </button>
            </div>
            <a href="#" title="TITAN首页"></a>
        </div>
        <div class="head-right">
            <div class="avator-box" id="userAvatar">
                <div class="img"></div>
            </div>
        </div>
        <!-- 头像菜单栏 -->
        <div id="userMenu">
            <a href="{% url 'titan_main:logout' %}">退出账号</a>
        </div>
     </header>

     <div class="content float-clear">
        <aside class="float-left">
            <!-- 首页 -->
            <a class="home aside-item" href="./index.html">
<!--            <a class="home aside-item" href="{% url 'titan_main:home' %}">-->
                <div class="aside-item-icon">
                    <div class="img" id="img001"></div>
                </div>
                <div class="aside-item-title">
                    首页
                </div>
            </a>
            <!-- LP商城 -->
            <a class="home aside-item" href="#">
                <div class="aside-item-icon">
                    <div class="img" id="img002"></div>
                </div>
                <div class="aside-item-title">
                    LP商城
                </div>
            </a>
            <!-- LP中心 -->
            <div class="home aside-item" id="LP-center">
                <div class="aside-item-icon">
                    <div class="img" id="img003"></div>
                </div>
                <div class="aside-item-title">
                    LP中心
                </div>
            </div>
            <div class="hd-box" id="hd-box-1">
                <a class="home aside-item hd-1" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00301"></div>
                    </div>
                    <div class="aside-item-title">
                        发放LP
                    </div>
                </a>
                <a class="home aside-item hd-1" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00302"></div>
                    </div>
                    <div class="aside-item-title">
                        我的LP
                    </div>
                </a>
                <a class="home aside-item hd-1" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00303"></div>
                    </div>
                    <div class="aside-item-title">
                        商品管理
                    </div>
                </a>
                <a class="home aside-item hd-1" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00304"></div>
                    </div>
                    <div class="aside-item-title">
                        订单管理
                    </div>
                </a>
                <a class="home aside-item hd-1" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00305"></div>
                    </div>
                    <div class="aside-item-title">
                        发放记录
                    </div>
                </a>
            </div>
            
            <!-- 常用工具 -->
            <div class="home aside-item" id="tool">
                <div class="aside-item-icon">
                    <div class="img" id="img004"></div>
                </div>
                <div class="aside-item-title">
                    常用工具
                </div>
            </div>
            <div class="hd-box" id="hd-box-2">
                <a class="home aside-item hd-2" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00401"></div>
                    </div>
                    <div class="aside-item-title">
                        补损提交
                    </div>
                </a>
                <a class="home aside-item hd-2" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00402"></div>
                    </div>
                    <div class="aside-item-title">
                        留言版
                    </div>
                </a>
            </div>
            <!-- 数据维护 -->
            <div class="home aside-item" id="data-service">
                <div class="aside-item-icon">
                    <div class="img" id="img005"></div>
                </div>
                <div class="aside-item-title">
                    数据维护
                </div>
            </div>
            <div class="hd-box" id="hd-box-3">
                <a class="home aside-item hd-3" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00501"></div>
                    </div>
                    <div class="aside-item-title">
                        军团成员
                    </div>
                </a>
                <a class="home aside-item hd-3" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00502"></div>
                    </div>
                    <div class="aside-item-title">
                        补损规则
                    </div>
                </a>
                <a class="home aside-item hd-3" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00503"></div>
                    </div>
                    <div class="aside-item-title">
                        补损黑名单
                    </div>
                </a>
                <a class="home aside-item hd-3" href="#">
                    <div class="aside-item-icon">
                        <div class="img" id="img00504"></div>
                    </div>
                    <div class="aside-item-title">
                        补损审批
                    </div>
                </a>
            </div>
            <!-- 个人信息 -->
            <a class="home aside-item" href="#">
                <div class="aside-item-icon">
                    <div class="img" id="img006"></div>
                </div>
                <div class="aside-item-title">
                    个人信息
                </div>
            </a>
            <!-- 系统设置 -->
            <a class="home aside-item" href="#">
                <div class="aside-item-icon">
                    <div class="img" id="img007"></div>
                </div>
                <div class="aside-item-title">
                    系统设置
                </div>
            </a>
        </aside>
        <div class="main float-left">
            <div class="main-box">
                <div class="mian-title">
                    LP商城<span>商品展示</span>
                </div>
                <!-- 商品栏 -->
                <div class="index-left-list float-clear" id="itemList">
                </div>
                <!-- 底部按钮 -->
                <div class="btn-box">
                    <button class="pre-page btn" id="prevBtn">上一页</button>
                    <div class="func-btns">
                        <button class="del-btn btn">删除</button>
                        <button class="buy-btn btn">购买</button>
                        <button class="modify-btn btn">修改</button>
                    </div>
                    <button class="add-item btn" id="addItemBtn">添加</button>
                    <button class="next-page btn" id="nextBtn">下一页</button>
                </div>
                <!-- 添加商品表单 -->
                <form id="addItemForm" data-action="add" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="itemId" name="itemId">
                    <input type="text" id="itemName" name="itemName" placeholder="商品名称" maxlength="10" required>
                    <textarea name="itemDescription" id="itemDescription" cols="25" rows="5" placeholder="商品描述" maxlength="38" required></textarea>
                    <input type="number" id="itemPrice" name="itemPrice" placeholder="商品价格[0~999]">
                    <label id="img-add-info">
                        上传商品图片(png/jpeg)：
                        <input type="file" id="itemImage" name="itemImage" accept="image/png, image/jpeg" >
                    </label>
                    <button type="submit" id="addSmtBtn">添加商品</button>
                    <button type="submit" id="modifyBtn">修改商品</button>
                    <button id="add-close-btn"></button>
                </form>
            </div>
        </div>
     </div>
     <script src="../js/lpshop.js"></script>
<!--    <script src="{% static 'templates/titan_main/js/lpshop.js' %}"></script>-->
</body>
</html>